<html>
  <head>
    <title> Eunju's Website </title>
  </head>
  <body>
      <div>
            <h1><a href="/">Eunju's Space</a></h1>
        </div>

        <div>
            <p>developed: 11.11.2019</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post of the whole website. Making a website with djangogirls is fun.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>hi this is my second post</p>
        </div>
    </body>
</html>
